<style type="text/css">
    #map-canvas { height: 500px; width: 650px; margin: 0; padding: 0;}
  </style>
<h1><%= @trip.name %></h1>

<%= javascript_tag do %>
  var tripId = <%= @trip.id %>
  var start = <%= @trip.origin.to_json.html_safe %>;
  var end = <%= @trip.destination.to_json.html_safe %>;
<% end %>
<!-- 
<script type="text/javascript"
  src='https://maps.googleapis.com/maps/api/js?key=<%#="#{ENV['GOOGLE_KEY']}"%>'>
</script> -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<div id="directions-panel"></div>

<div id="map-canvas"></div>

<!-- pass in some address -->

<%= sanfran = Yelp.client.search_by_coordinates({latitude: 40.43022363450859, longitude: -89.1650390625}, { term: 'food', limit: 10, sort: 2 }) %>
