<style type="text/css">
    
  </style>
<h1><%= @trip.name %></h1>

<%= javascript_tag do %>
  var tripId = <%= @trip.id %>
  var start = <%= @trip.origin.to_json.html_safe %>;
  var end = <%= @trip.destination.to_json.html_safe %>;
  var waypoints = <%= @trip.check_points.to_json.html_safe %>
<% end %>
<!-- 
<script type="text/javascript"
  src='https://maps.googleapis.com/maps/api/js?key=<%#="#{ENV['GOOGLE_KEY']}"%>'>
</script> -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<div class="row">
  <div id="directions-panel"></div>
  
  <div id="panel">
    <input type=button value="Hide Markers">
  </div>

  <div id="map-canvas"></div>
</div>

