
<style type="text/css">
    #map-canvas { height: 500px; width: 650px; margin: 0; padding: 0;}
  </style>
<h1><%= @trip.name %></h1>

<%= javascript_tag do %>
  var start = <%= @trip.origin.to_json.html_safe %>;
  var end = <%= @trip.destination.to_json.html_safe %>;
<% end %>

<script type="text/javascript"
  src='https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_KEY']}"%>'>
</script>

<div id="directions-panel"></div>

<div id="map-canvas"></div>




