<h1><%= @trip.name %></h1>

<%= javascript_tag do %>
  var tripId = <%= @trip.id %>
  var start = <%= @trip.origin.to_json.html_safe %>;
  var end = <%= @trip.destination.to_json.html_safe %>;
  var waypoints = <%= @trip.check_points.to_json.html_safe %>
<% end %>
<!-- 
<script type="text/javascript"
  src='https://maps.googleapis.com/maps/api/js?key=<%#="#{ENV['GOOGLE_KEY']}"%>'>
</script> -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<div class="row">
  <div id="directions-panel"></div>
  

  <div id="map-canvas"></div>
  <div id="panel">
    <input type=button value="Delete Pins">
  </div>
</div>
<% if @trip.check_points.count > 0 %>
  <div class="checkpoints">
    <h4 style= "color: black;">Places I've been for this trip</h4>
      <ol type= "A">
        <li style= "visibility: hidden;"></li>
      <% @trip.check_points.each do |checkpoint| %>
        <li><%= link_to "#{checkpoint.name}- #{checkpoint.address}", check_point_path(checkpoint) %> <%= button_to "Remove from trip", check_point_path(checkpoint), :method => :delete, class: "btn btn-default" %> </li>
      <% end %>
      </ol>
  </div>
<% end %>