<%= form_for @trip, html: { class: "form-inline" } do |f| %>
 <% if @trip.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

     <ul>
     <% @trip.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

 <div class="field">
   <%= f.label :name, "Name Of Trip" %><br>
   <%= f.text_field :name %>
 </div>
 <div class="field">
   <%= f.label :origin %><br>
   <%= f.text_field :origin, id: "start" %>
 </div>
 <div class="field">
   <%= f.label :destination %><br>
   <%= f.text_field :destination, id: "end" %>
 </div>
 <br>
 <br>
 <div class="actions">
 <%= f.hidden_field :user_id, :value => current_user.id %>
   <%= f.submit "Let's Go!", class: "btn btn-default"%>
 </div>
<% end %>

