<!DOCTYPE html>
<html>
<head>
  <title>Along The Way</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
    <script type="text/javascript"> var idx=window.location.toString().indexOf("#_=_"); if (idx>0) { window.location = window.location.toString().substring(0, idx); } </script>
</head>
  <body>
    <%= render '/layouts/header' %>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
